Options -Indexes
ErrorDocument 404 /404.php

<IfModule mod_rewrite.c>
    Options +FollowSymLinks
    RewriteEngine On
    
   RewriteCond %{HTTP_HOST} b2b.irbis-td.ru
    RewriteRule (.*) http://b2b.td-irbis.ru/$1 [R=301,L]


    Redirect 301 /about-us.html /company/
    Redirect 301 /catalog.html /catalog/
    Redirect 301 /catalog/bonaiti/zamki-vreznye.html /catalog/zamki_vreznye/filter/brand-is-renz-or-bonaiti/apply/
    Redirect 301 /catalog/bonaiti/zaschelki.html /catalog/zashchelki_i_zadvizhki/
    Redirect 301 /catalog/cemom/petli-dvernye.html /catalog/petli_dvernye/
    Redirect 301 /catalog/cilindrovye-mehanizmy.html /catalog/tsilindrovye_mekhanizmy/
    Redirect 301 /catalog/dnd/dvernye-ruchki.html /catalog/dvernye_ruchki/filter/brand-is-dnd_by_martinelli/apply/
    Redirect 301 /catalog/dnd/zavertki-i-nakladki-na-cilindr.html /catalog/zavertki_i_nakladki_na_tsilindr/
    Redirect 301 /catalog/dvernye-komplekty.html /catalog/dvernye_komplekty/
    Redirect 301 /catalog/dvernye-ruchki.html /catalog/dvernye_ruchki/
    Redirect 301 /catalog/furnitura-dlja-metallicheskih-dverej.html /catalog/dlya_metallicheskikh_i_steklyannykh_dverey/
    Redirect 301 /catalog/furnitura-dlja-razdvizhnyh-dverej.html /catalog/furnitura_dlya_razdvizhnykh_dverey/
    Redirect 301 /catalog/ogranichiteli-dvernye.html /catalog/ogranichiteli_i_rigeli/
    Redirect 301 /catalog/oro-oro/dvernye-ruchki.html /catalog/dvernye_ruchki/filter/brand-is-oro_oro/apply/
    Redirect 301 /catalog/paloma/dvernye-ruchki.html /catalog/dvernye_ruchki/filter/brand-is-paloma/apply/
    Redirect 301 /catalog/paloma/petli-dvernye.html /catalog/petli_dvernye/
    Redirect 301 /catalog/paloma/zaschelki.html /catalog/zashchelki_i_zadvizhki/
    Redirect 301 /catalog/petli-dvernye.html /catalog/petli_dvernye/
    Redirect 301 /catalog/product/100 /catalog/dvernye_ruchki/1054/
    Redirect 301 /catalog/product/101 /catalog/zavertki_i_nakladki_na_tsilindr/1151/
    Redirect 301 /catalog/product/102 /catalog/zavertki_i_nakladki_na_tsilindr/1075/
    Redirect 301 /catalog/product/103 /catalog/zavertki_i_nakladki_na_tsilindr/1122/
    Redirect 301 /catalog/product/104 /catalog/zavertki_i_nakladki_na_tsilindr/1074/
    Redirect 301 /catalog/product/105 /catalog/zavertki_i_nakladki_na_tsilindr/1111/
    Redirect 301 /catalog/product/107 /catalog/zavertki_i_nakladki_na_tsilindr/1099/
    Redirect 301 /catalog/product/108 /catalog/zavertki_i_nakladki_na_tsilindr/1163/
    Redirect 301 /catalog/product/109 /catalog/dvernye_ruchki/1121/
    Redirect 301 /catalog/product/110 /catalog/dvernye_ruchki/1149/
    Redirect 301 /catalog/product/111 /catalog/dvernye_ruchki/1079/
    Redirect 301 /catalog/product/112 /catalog/dvernye_ruchki/1160/
    Redirect 301 /catalog/product/113 /catalog/dvernye_ruchki/1177/
    Redirect 301 /catalog/product/114 /catalog/dvernye_ruchki/1200/
    Redirect 301 /catalog/product/115 /catalog/dvernye_ruchki/1168/
    Redirect 301 /catalog/product/116 /catalog/dvernye_ruchki/1183/
    Redirect 301 /catalog/product/117 /catalog/dvernye_ruchki/1094/
    Redirect 301 /catalog/product/118 /catalog/dvernye_ruchki/1071/
    Redirect 301 /catalog/product/119 /catalog/dvernye_ruchki/1016/
    Redirect 301 /catalog/product/120 /catalog/dvernye_ruchki/1062/
    Redirect 301 /catalog/product/121 /catalog/dvernye_ruchki/1047/
    Redirect 301 /catalog/product/122 /catalog/dvernye_ruchki/1219/
    Redirect 301 /catalog/product/123 /catalog/dvernye_ruchki/1066/
    Redirect 301 /catalog/product/132 /catalog/dvernye_komplekty/956/
    Redirect 301 /catalog/product/133 /catalog/dvernye_komplekty/954/
    Redirect 301 /catalog/product/134 /catalog/dvernye_komplekty/955/
    Redirect 301 /catalog/product/136 /catalog/zamki_vreznye/948/
    Redirect 301 /catalog/product/137 /catalog/zamki_vreznye/949/
    Redirect 301 /catalog/product/138 /catalog/zamki_vreznye/950/
    Redirect 301 /catalog/product/139 /catalog/zamki_vreznye/960/
    Redirect 301 /catalog/product/141 /catalog/zashchelki_i_zadvizhki/942/
    Redirect 301 /catalog/product/142 /catalog/zashchelki_i_zadvizhki/945/
    Redirect 301 /catalog/product/143 /catalog/zashchelki_i_zadvizhki/937/
    Redirect 301 /catalog/product/144 /catalog/zashchelki_i_zadvizhki/957/
    Redirect 301 /catalog/product/145 /catalog/zashchelki_i_zadvizhki/958/
    Redirect 301 /catalog/product/146 /catalog/zashchelki_i_zadvizhki/951/
    Redirect 301 /catalog/product/147 /catalog/tsilindrovye_mekhanizmy/875/
    Redirect 301 /catalog/product/148 /catalog/tsilindrovye_mekhanizmy/871/
    Redirect 301 /catalog/product/149 /catalog/tsilindrovye_mekhanizmy/876/
    Redirect 301 /catalog/product/150 /catalog/tsilindrovye_mekhanizmy/872/
    Redirect 301 /catalog/product/151 /catalog/tsilindrovye_mekhanizmy/878/
    Redirect 301 /catalog/product/152 /catalog/tsilindrovye_mekhanizmy/873/
    Redirect 301 /catalog/product/153 /catalog/tsilindrovye_mekhanizmy/879/
    Redirect 301 /catalog/product/154 /catalog/tsilindrovye_mekhanizmy/874/
    Redirect 301 /catalog/product/155 /catalog/petli_dvernye/850/
    Redirect 301 /catalog/product/157 /catalog/petli_dvernye/995/
    Redirect 301 /catalog/product/158 /catalog/petli_dvernye/996/
    Redirect 301 /catalog/product/159 /catalog/petli_dvernye/994/
    Redirect 301 /catalog/product/162 /catalog/furnitura_dlya_razdvizhnykh_dverey/1003/
    Redirect 301 /catalog/product/164 /catalog/ogranichiteli_i_rigeli/891/
    Redirect 301 /catalog/product/165 /catalog/ogranichiteli_i_rigeli/893/
    Redirect 301 /catalog/product/166 /catalog/ogranichiteli_i_rigeli/889/
    Redirect 301 /catalog/product/167 /catalog/ogranichiteli_i_rigeli/984/
    Redirect 301 /catalog/product/168 /catalog/ogranichiteli_i_rigeli/985/
    Redirect 301 /catalog/product/169 /catalog/furnitura_dlya_razdvizhnykh_dverey/884/
    Redirect 301 /catalog/product/170 /catalog/furnitura_dlya_razdvizhnykh_dverey/885/
    Redirect 301 /catalog/product/171 /catalog/furnitura_dlya_razdvizhnykh_dverey/886/
    Redirect 301 /catalog/product/175 /catalog/dvernye_ruchki/1063/
    Redirect 301 /catalog/product/178 /catalog/zashchelki_i_zadvizhki/943/
    Redirect 301 /catalog/product/180 /catalog/zashchelki_i_zadvizhki/938/
    Redirect 301 /catalog/product/182 /catalog/zashchelki_i_zadvizhki/939/
    Redirect 301 /catalog/product/183 /catalog/petli_dvernye/988/
    Redirect 301 /catalog/product/185 /catalog/dvernye_ruchki/1113/
    Redirect 301 /catalog/product/186 /catalog/dvernye_ruchki/1014/
    Redirect 301 /catalog/product/189 /catalog/dvernye_ruchki/1148/
    Redirect 301 /catalog/product/190 /catalog/dvernye_ruchki/1179/
    Redirect 301 /catalog/product/191 /catalog/dvernye_ruchki/1106/
    Redirect 301 /catalog/product/198 /catalog/dvernye_ruchki/1053/
    Redirect 301 /catalog/product/200 /catalog/dvernye_ruchki/1112/
    Redirect 301 /catalog/product/201 /catalog/dvernye_ruchki/1169/
    Redirect 301 /catalog/product/202 /catalog/dvernye_ruchki/1208/
    Redirect 301 /catalog/product/203 /catalog/zavertki_i_nakladki_na_tsilindr/1182/
    Redirect 301 /catalog/product/206 /catalog/dvernye_ruchki/816/
    Redirect 301 /catalog/product/207 /catalog/dvernye_ruchki/852/
    Redirect 301 /catalog/product/208 /catalog/dvernye_ruchki/905/
    Redirect 301 /catalog/product/209 /catalog/dvernye_ruchki/858/
    Redirect 301 /catalog/product/210 /catalog/dvernye_ruchki/910/
    Redirect 301 /catalog/product/212 /catalog/dvernye_ruchki/863/
    Redirect 301 /catalog/product/213 /catalog/dvernye_ruchki/915/
    Redirect 301 /catalog/product/214 /catalog/zavertki_i_nakladki_na_tsilindr/916/
    Redirect 301 /catalog/product/215 /catalog/zavertki_i_nakladki_na_tsilindr/864/
    Redirect 301 /catalog/product/217 /catalog/tsilindrovye_mekhanizmy/877/
    Redirect 301 /catalog/product/218 /catalog/zavertki_i_nakladki_na_tsilindr/853/
    Redirect 301 /catalog/product/219 /catalog/zavertki_i_nakladki_na_tsilindr/906/
    Redirect 301 /catalog/product/225 /catalog/dvernye_ruchki/1152/
    Redirect 301 /catalog/product/233 /catalog/dvernye_ruchki/1095/
    Redirect 301 /catalog/product/237 /catalog/dvernye_ruchki/1058/
    Redirect 301 /catalog/product/238 /catalog/dvernye_ruchki/1171/
    Redirect 301 /catalog/product/239 /catalog/zavertki_i_nakladki_na_tsilindr/855/
    Redirect 301 /catalog/product/240 /catalog/zavertki_i_nakladki_na_tsilindr/908/
    Redirect 301 /catalog/product/245 /catalog/dvernye_ruchki/1164/
    Redirect 301 /catalog/product/246 /catalog/dvernye_ruchki/1137/
    Redirect 301 /catalog/product/247 /catalog/dvernye_ruchki/1021/
    Redirect 301 /catalog/product/249 /catalog/dvernye_ruchki/1189/
    Redirect 301 /catalog/product/251 /catalog/dvernye_ruchki/1020/
    Redirect 301 /catalog/product/252 /catalog/dvernye_ruchki/1043/
    Redirect 301 /catalog/product/253 /catalog/dvernye_ruchki/1064/
    Redirect 301 /catalog/product/257 /catalog/zavertki_i_nakladki_na_tsilindr/1040/
    Redirect 301 /catalog/product/258 /catalog/zavertki_i_nakladki_na_tsilindr/1041/
    Redirect 301 /catalog/product/259 /catalog/zavertki_i_nakladki_na_tsilindr/1165/
    Redirect 301 /catalog/product/260 /catalog/zavertki_i_nakladki_na_tsilindr/1166/
    Redirect 301 /catalog/product/261 /catalog/zavertki_i_nakladki_na_tsilindr/1143/
    Redirect 301 /catalog/product/262 /catalog/zavertki_i_nakladki_na_tsilindr/1144/
    Redirect 301 /catalog/product/263 /catalog/zavertki_i_nakladki_na_tsilindr/1022/
    Redirect 301 /catalog/product/264 /catalog/zavertki_i_nakladki_na_tsilindr/1023/
    Redirect 301 /catalog/product/265 /catalog/zavertki_i_nakladki_na_tsilindr/1190/
    Redirect 301 /catalog/product/267 /catalog/zavertki_i_nakladki_na_tsilindr/1044/
    Redirect 301 /catalog/product/268 /catalog/zavertki_i_nakladki_na_tsilindr/1045/
    Redirect 301 /catalog/product/269 /catalog/dvernye_ruchki/1028/
    Redirect 301 /catalog/product/270 /catalog/dvernye_ruchki/1110/
    Redirect 301 /catalog/product/271 /catalog/dvernye_ruchki/1120/
    Redirect 301 /catalog/product/272 /catalog/zavertki_i_nakladki_na_tsilindr/787/
    Redirect 301 /catalog/product/273 /catalog/zavertki_i_nakladki_na_tsilindr/788/
    Redirect 301 /catalog/product/274 /catalog/dvernye_ruchki/1065/
    Redirect 301 /catalog/product/275 /catalog/dvernye_ruchki/1197/
    Redirect 301 /catalog/product/276 /catalog/dvernye_ruchki/1029/
    Redirect 301 /catalog/product/277 /catalog/dvernye_ruchki/1215/
    Redirect 301 /catalog/product/278 /catalog/dvernye_ruchki/1193/
    Redirect 301 /catalog/product/279 /catalog/dvernye_ruchki/1156/
    Redirect 301 /catalog/product/280 /catalog/dvernye_ruchki/1017/
    Redirect 301 /catalog/product/281 /catalog/petli_dvernye/1010/
    Redirect 301 /catalog/product/284 /catalog/petli_dvernye/1011/
    Redirect 301 /catalog/product/285 /catalog/ogranichiteli_i_rigeli/888/
    Redirect 301 /catalog/product/286 /catalog/dvernye_ruchki/1035/
    Redirect 301 /catalog/product/288 /catalog/dvernye_ruchki/1130/
    Redirect 301 /catalog/product/289 /catalog/dvernye_ruchki/1082/
    Redirect 301 /catalog/product/290 /catalog/zavertki_i_nakladki_na_tsilindr/986/
    Redirect 301 /catalog/product/291 /catalog/zavertki_i_nakladki_na_tsilindr/848/
    Redirect 301 /catalog/product/292 /catalog/zavertki_i_nakladki_na_tsilindr/987/
    Redirect 301 /catalog/product/293 /catalog/zavertki_i_nakladki_na_tsilindr/982/
    Redirect 301 /catalog/product/294 /catalog/dvernye_ruchki/1072/
    Redirect 301 /catalog/product/295 /catalog/dvernye_ruchki/1030/
    Redirect 301 /catalog/product/296 /catalog/dvernye_ruchki/1159/
    Redirect 301 /catalog/product/298 /catalog/ogranichiteli_i_rigeli/892/
    Redirect 301 /catalog/product/299 /catalog/ogranichiteli_i_rigeli/890/
    Redirect 301 /catalog/product/300 /catalog/ogranichiteli_i_rigeli/894/
    Redirect 301 /catalog/product/301 /catalog/ogranichiteli_i_rigeli/895/
    Redirect 301 /catalog/product/302 /catalog/zavertki_i_nakladki_na_tsilindr/1150/
    Redirect 301 /catalog/product/304 /catalog/dvernye_ruchki/1114/
    Redirect 301 /catalog/product/306 /catalog/dvernye_ruchki/857/
    Redirect 301 /catalog/product/307 /catalog/dvernye_ruchki/904/
    Redirect 301 /catalog/product/308 /catalog/dvernye_ruchki/1180/
    Redirect 301 /catalog/product/309 /catalog/dvernye_ruchki/1015/
    Redirect 301 /catalog/product/310 /catalog/dvernye_ruchki/1125/
    Redirect 301 /catalog/product/311 /catalog/dvernye_ruchki/1186/
    Redirect 301 /catalog/product/312 /catalog/dvernye_ruchki/862/
    Redirect 301 /catalog/product/313 /catalog/dvernye_ruchki/914/
    Redirect 301 /catalog/product/316 /catalog/dvernye_ruchki/1214/
    Redirect 301 /catalog/product/317 /catalog/dvernye_ruchki/1091/
    Redirect 301 /catalog/product/318 /catalog/dvernye_ruchki/1117/
    Redirect 301 /catalog/product/319 /catalog/zashchelki_i_zadvizhki/947/
    Redirect 301 /catalog/product/320 /catalog/dvernye_ruchki/817/
    Redirect 301 /catalog/product/321 /catalog/dvernye_ruchki/818/
    Redirect 301 /catalog/product/322 /catalog/dvernye_ruchki/819/
    Redirect 301 /catalog/product/323 /catalog/dvernye_ruchki/820/
    Redirect 301 /catalog/product/324 /catalog/dvernye_ruchki/821/
    Redirect 301 /catalog/product/325 /catalog/dvernye_ruchki/822/
    Redirect 301 /catalog/product/326 /catalog/dvernye_ruchki/823/
    Redirect 301 /catalog/product/327 /catalog/dvernye_ruchki/824/
    Redirect 301 /catalog/product/328 /catalog/dvernye_ruchki/825/
    Redirect 301 /catalog/product/329 /catalog/dvernye_ruchki/826/
    Redirect 301 /catalog/product/330 /catalog/dvernye_ruchki/827/
    Redirect 301 /catalog/product/335 /catalog/dvernye_ruchki/1119/
    Redirect 301 /catalog/product/336 /catalog/dvernye_ruchki/1025/
    Redirect 301 /catalog/product/338 /catalog/petli_dvernye/880/
    Redirect 301 /catalog/product/339 /catalog/petli_dvernye/882/
    Redirect 301 /catalog/product/340 /catalog/petli_dvernye/881/
    Redirect 301 /catalog/product/349 /catalog/dvernye_ruchki/1196/
    Redirect 301 /catalog/product/350 /catalog/dvernye_ruchki/1194/
    Redirect 301 /catalog/product/351 /catalog/dvernye_ruchki/1175/
    Redirect 301 /catalog/product/352 /catalog/dvernye_ruchki/1080/
    Redirect 301 /catalog/product/359 /catalog/dvernye_ruchki/794/
    Redirect 301 /catalog/product/360 /catalog/dvernye_ruchki/796/
    Redirect 301 /catalog/product/361 /catalog/dvernye_ruchki/797/
    Redirect 301 /catalog/product/362 /catalog/dvernye_ruchki/798/
    Redirect 301 /catalog/product/363 /catalog/dvernye_ruchki/799/
    Redirect 301 /catalog/product/364 /catalog/dvernye_ruchki/800/
    Redirect 301 /catalog/product/365 /catalog/dvernye_ruchki/802/
    Redirect 301 /catalog/product/366 /catalog/dvernye_ruchki/803/
    Redirect 301 /catalog/product/367 /catalog/dvernye_ruchki/804/
    Redirect 301 /catalog/product/368 /catalog/dvernye_ruchki/806/
    Redirect 301 /catalog/product/369 /catalog/dvernye_ruchki/807/
    Redirect 301 /catalog/product/370 /catalog/dvernye_ruchki/805/
    Redirect 301 /catalog/product/371 /catalog/dvernye_ruchki/808/
    Redirect 301 /catalog/product/372 /catalog/dvernye_ruchki/1067/
    Redirect 301 /catalog/product/374 /catalog/dvernye_ruchki/1123/
    Redirect 301 /catalog/product/375 /catalog/dvernye_ruchki/1188/
    Redirect 301 /catalog/product/379 /catalog/furnitura_dlya_razdvizhnykh_dverey/1005/
    Redirect 301 /catalog/product/387 /catalog/zashchelki_i_zadvizhki/959/
    Redirect 301 /catalog/product/388 /catalog/zamki_vreznye/946/
    Redirect 301 /catalog/product/397 /catalog/zavertki_i_nakladki_na_tsilindr/870/
    Redirect 301 /catalog/product/398 /catalog/dvernye_ruchki/828/
    Redirect 301 /catalog/product/399 /catalog/dvernye_ruchki/829/
    Redirect 301 /catalog/product/400 /catalog/dvernye_ruchki/830/
    Redirect 301 /catalog/product/401 /catalog/dvernye_ruchki/838/
    Redirect 301 /catalog/product/402 /catalog/dvernye_ruchki/839/
    Redirect 301 /catalog/product/403 /catalog/dvernye_ruchki/833/
    Redirect 301 /catalog/product/404 /catalog/dvernye_ruchki/834/
    Redirect 301 /catalog/product/405 /catalog/dvernye_ruchki/835/
    Redirect 301 /catalog/product/406 /catalog/zavertki_i_nakladki_na_tsilindr/1050/
    Redirect 301 /catalog/product/407 /catalog/dvernye_ruchki/813/
    Redirect 301 /catalog/product/408 /catalog/dvernye_ruchki/809/
    Redirect 301 /catalog/product/409 /catalog/dvernye_ruchki/812/
    Redirect 301 /catalog/product/410 /catalog/dvernye_ruchki/1217/
    Redirect 301 /catalog/product/411 /catalog/dvernye_ruchki/1126/
    Redirect 301 /catalog/product/412 /catalog/dvernye_ruchki/1198/
    Redirect 301 /catalog/product/413 /catalog/dvernye_ruchki/1172/
    Redirect 301 /catalog/product/415 /catalog/dvernye_ruchki/1127/
    Redirect 301 /catalog/product/416 /catalog/dvernye_ruchki/1146/
    Redirect 301 /catalog/product/417 /catalog/dvernye_ruchki/1206/
    Redirect 301 /catalog/product/418 /catalog/dvernye_ruchki/1212/
    Redirect 301 /catalog/product/419 /catalog/dvernye_ruchki/1184/
    Redirect 301 /catalog/product/420 /catalog/dvernye_ruchki/1173/
    Redirect 301 /catalog/product/421 /catalog/dvernye_ruchki/1070/
    Redirect 301 /catalog/product/422 /catalog/dvernye_ruchki/1205/
    Redirect 301 /catalog/product/423 /catalog/dvernye_ruchki/1088/
    Redirect 301 /catalog/product/424 /catalog/zavertki_i_nakladki_na_tsilindr/1161/
    Redirect 301 /catalog/product/425 /catalog/zavertki_i_nakladki_na_tsilindr/1107/
    Redirect 301 /catalog/product/426 /catalog/zashchelki_i_zadvizhki/953/
    Redirect 301 /catalog/product/427 /catalog/zamki_vreznye/952/
    Redirect 301 /catalog/product/428 /catalog/furnitura_dlya_razdvizhnykh_dverey/887/
    Redirect 301 /catalog/product/429 /catalog/zavertki_i_nakladki_na_tsilindr/869/
    Redirect 301 /catalog/product/430 /catalog/ogranichiteli_i_rigeli/896/
    Redirect 301 /catalog/product/431 /catalog/ogranichiteli_i_rigeli/897/
    Redirect 301 /catalog/product/435 /catalog/dvernye_ruchki/1033/
    Redirect 301 /catalog/product/436 /catalog/zavertki_i_nakladki_na_tsilindr/1026/
    Redirect 301 /catalog/product/437 /catalog/dvernye_ruchki/1092/
    Redirect 301 /catalog/product/438 /catalog/dvernye_ruchki/1097/
    Redirect 301 /catalog/product/439 /catalog/dvernye_ruchki/1031/
    Redirect 301 /catalog/product/440 /catalog/zavertki_i_nakladki_na_tsilindr/1218/
    Redirect 301 /catalog/product/441 /catalog/dvernye_ruchki/831/
    Redirect 301 /catalog/product/442 /catalog/dvernye_ruchki/837/
    Redirect 301 /catalog/product/443 /catalog/dvernye_ruchki/846/
    Redirect 301 /catalog/product/444 /catalog/dvernye_ruchki/847/
    Redirect 301 /catalog/product/445 /catalog/dvernye_ruchki/844/
    Redirect 301 /catalog/product/446 /catalog/dvernye_ruchki/843/
    Redirect 301 /catalog/product/447 /catalog/dvernye_ruchki/842/
    Redirect 301 /catalog/product/448 /catalog/dvernye_ruchki/841/
    Redirect 301 /catalog/product/449 /catalog/dvernye_ruchki/845/
    Redirect 301 /catalog/product/450 /catalog/dvernye_ruchki/832/
    Redirect 301 /catalog/product/451 /catalog/dvernye_ruchki/840/
    Redirect 301 /catalog/product/452 /catalog/dvernye_ruchki/811/
    Redirect 301 /catalog/product/453 /catalog/dvernye_ruchki/801/
    Redirect 301 /catalog/product/454 /catalog/dvernye_ruchki/810/
    Redirect 301 /catalog/product/460 /catalog/petli_dvernye/929/
    Redirect 301 /catalog/product/461 /catalog/petli_dvernye/785/
    Redirect 301 /catalog/product/462 /catalog/dvernye_ruchki/1174/
    Redirect 301 /catalog/product/463 /catalog/zavertki_i_nakladki_na_tsilindr/866/
    Redirect 301 /catalog/product/464 /catalog/zavertki_i_nakladki_na_tsilindr/865/
    Redirect 301 /catalog/product/465 /catalog/zashchelki_i_zadvizhki/1006/
    Redirect 301 /catalog/product/466 /catalog/zashchelki_i_zadvizhki/1000/
    Redirect 301 /catalog/product/467 /catalog/zashchelki_i_zadvizhki/998/
    Redirect 301 /catalog/product/469 /catalog/zashchelki_i_zadvizhki/977/
    Redirect 301 /catalog/product/470 /catalog/zashchelki_i_zadvizhki/962/
    Redirect 301 /catalog/product/472 /catalog/zamki_vreznye/978/
    Redirect 301 /catalog/product/473 /catalog/zamki_vreznye/1001/
    Redirect 301 /catalog/product/474 /catalog/zavertki_i_nakladki_na_tsilindr/976/
    Redirect 301 /catalog/product/475 /catalog/zavertki_i_nakladki_na_tsilindr/975/
    Redirect 301 /catalog/product/476 /catalog/zavertki_i_nakladki_na_tsilindr/867/
    Redirect 301 /catalog/product/478 /catalog/zavertki_i_nakladki_na_tsilindr/919/
    Redirect 301 /catalog/product/479 /catalog/petli_dvernye/901/
    Redirect 301 /catalog/product/480 /catalog/petli_dvernye/898/
    Redirect 301 /catalog/product/481 /catalog/zashchelki_i_zadvizhki/940/
    Redirect 301 /catalog/product/482 /catalog/zashchelki_i_zadvizhki/935/
    Redirect 301 /catalog/product/492 /catalog/dvernye_ruchki/1096/
    Redirect 301 /catalog/product/493 /catalog/dvernye_ruchki/1108/
    Redirect 301 /catalog/product/494 /catalog/dvernye_ruchki/1013/
    Redirect 301 /catalog/product/495 /catalog/dvernye_ruchki/1210/
    Redirect 301 /catalog/product/496 /catalog/dvernye_ruchki/1213/
    Redirect 301 /catalog/product/498 /catalog/zavertki_i_nakladki_na_tsilindr/1093/
    Redirect 301 /catalog/product/500 /catalog/dvernye_ruchki/1027/
    Redirect 301 /catalog/product/51 /catalog/dvernye_ruchki/1068/
    Redirect 301 /catalog/product/52 /catalog/dvernye_ruchki/1105/
    Redirect 301 /catalog/product/53 /catalog/dvernye_ruchki/1018/
    Redirect 301 /catalog/product/54 /catalog/dvernye_ruchki/1203/
    Redirect 301 /catalog/product/55 /catalog/dvernye_ruchki/1154/
    Redirect 301 /catalog/product/56 /catalog/dvernye_ruchki/1158/
    Redirect 301 /catalog/product/57 /catalog/dvernye_ruchki/1115/
    Redirect 301 /catalog/product/59 /catalog/dvernye_ruchki/1052/
    Redirect 301 /catalog/product/60 /catalog/dvernye_ruchki/1155/
    Redirect 301 /catalog/product/63 /catalog/dvernye_ruchki/1176/
    Redirect 301 /catalog/product/64 /catalog/dvernye_ruchki/1019/
    Redirect 301 /catalog/product/65 /catalog/dvernye_ruchki/1056/
    Redirect 301 /catalog/product/66 /catalog/dvernye_ruchki/1051/
    Redirect 301 /catalog/product/67 /catalog/dvernye_ruchki/1201/
    Redirect 301 /catalog/product/68 /catalog/dvernye_ruchki/1049/
    Redirect 301 /catalog/product/70 /catalog/dvernye_ruchki/1118/
    Redirect 301 /catalog/product/74 /catalog/dvernye_ruchki/1076/
    Redirect 301 /catalog/product/75 /catalog/dvernye_ruchki/1178/
    Redirect 301 /catalog/product/76 /catalog/dvernye_ruchki/1181/
    Redirect 301 /catalog/product/77 /catalog/dvernye_ruchki/1211/
    Redirect 301 /catalog/product/79 /catalog/dvernye_ruchki/1157/
    Redirect 301 /catalog/product/81 /catalog/dvernye_ruchki/1162/
    Redirect 301 /catalog/product/82 /catalog/dvernye_ruchki/1055/
    Redirect 301 /catalog/product/83 /catalog/dvernye_ruchki/1187/
    Redirect 301 /catalog/product/84 /catalog/dvernye_ruchki/1078/
    Redirect 301 /catalog/product/87 /catalog/dvernye_ruchki/1185/
    Redirect 301 /catalog/product/88 /catalog/dvernye_ruchki/1116/
    Redirect 301 /catalog/product/89 /catalog/dvernye_ruchki/1153/
    Redirect 301 /catalog/product/90 /catalog/dvernye_ruchki/1034/
    Redirect 301 /catalog/product/91 /catalog/dvernye_ruchki/1012/
    Redirect 301 /catalog/product/92 /catalog/dvernye_ruchki/1109/
    Redirect 301 /catalog/product/93 /catalog/dvernye_ruchki/1216/
    Redirect 301 /catalog/product/94 /catalog/dvernye_ruchki/1077/
    Redirect 301 /catalog/product/96 /catalog/dvernye_ruchki/1204/
    Redirect 301 /catalog/product/97 /catalog/zavertki_i_nakladki_na_tsilindr/1124/
    Redirect 301 /catalog/product/98 /catalog/zavertki_i_nakladki_na_tsilindr/1136/
    Redirect 301 /catalog/puerto/cilindrovye-mehanizmy.html /catalog/tsilindrovye_mekhanizmy/
    Redirect 301 /catalog/puerto/dvernye-ruchki.html /catalog/dvernye_ruchki/filter/brand-is-puerto/apply/
    Redirect 301 /catalog/puerto/ogranichiteli-dvernye.html /catalog/ogranichiteli_i_rigeli/
    Redirect 301 /catalog/puerto/petli-dvernye.html /catalog/petli_dvernye/
    Redirect 301 /catalog/puerto/zaschelki.html /catalog/zashchelki_i_zadvizhki/
    Redirect 301 /catalog/puerto/zavertki-i-nakladki-na-cilindr.html /catalog/zavertki_i_nakladki_na_tsilindr/
    Redirect 301 /catalog/renz/cilindrovye-mehanizmy.html /catalog/tsilindrovye_mekhanizmy/
    Redirect 301 /catalog/renz/dvernye-ruchki.html /catalog/dvernye_ruchki/filter/brand-is-renz/apply/
    Redirect 301 /catalog/renz/furnitura-dlja-metallicheskih-dverej.html /catalog/dlya_metallicheskikh_i_steklyannykh_dverey/
    Redirect 301 /catalog/renz/furnitura-dlja-razdvizhnyh-dverej.html /catalog/furnitura_dlya_razdvizhnykh_dverey/
    Redirect 301 /catalog/renz/ogranichiteli-dvernye.html /catalog/ogranichiteli_i_rigeli/
    Redirect 301 /catalog/renz/petli-dvernye.html /catalog/petli_dvernye/
    Redirect 301 /catalog/renz/rigeli.html /catalog/ogranichiteli_i_rigeli/
    Redirect 301 /catalog/renz/zadvizhki.html /catalog/zashchelki_i_zadvizhki/
    Redirect 301 /catalog/renz/zamki-vreznye.html /catalog/zamki_vreznye/filter/brand-is-renz/apply/
    Redirect 301 /catalog/renz/zaschelki.html /catalog/zashchelki_i_zadvizhki/
    Redirect 301 /catalog/renz/zavertki-i-nakladki-na-cilindr.html /catalog/zavertki_i_nakladki_na_tsilindr/
    Redirect 301 /catalog/rigeli.html /catalog/ogranichiteli_i_rigeli/
    Redirect 301 /catalog/tixx/dvernye-komplekty.html /catalog/dvernye_komplekty/
    Redirect 301 /catalog/tixx/dvernye-ruchki.html /catalog/dvernye_ruchki/filter/brand-is-tixx/apply/
    Redirect 301 /catalog/tixx/furnitura-dlja-razdvizhnyh-dverej.html /catalog/furnitura_dlya_razdvizhnykh_dverey/
    Redirect 301 /catalog/tixx/petli-dvernye.html /catalog/petli_dvernye/
    Redirect 301 /catalog/tixx/zavertki-i-nakladki-na-cilindr.html /catalog/zavertki_i_nakladki_na_tsilindr/
    Redirect 301 /catalog/val-de-fiori/dvernye-ruchki.html /catalog/dvernye_ruchki/filter/brand-is-val_de_fiori/apply/
    Redirect 301 /catalog/val-de-fiori/ogranichiteli-dvernye.html /catalog/ogranichiteli_i_rigeli/
    Redirect 301 /catalog/val-de-fiori/petli-dvernye.html /catalog/petli_dvernye/
    Redirect 301 /catalog/val-de-fiori/zavertki-i-nakladki-na-cilindr.html /catalog/zavertki_i_nakladki_na_tsilindr/
    Redirect 301 /catalog/zadvizhki.html /catalog/zashchelki_i_zadvizhki/
    Redirect 301 /catalog/zamki-vreznye.html /catalog/zamki_vreznye/
    Redirect 301 /catalog/zaschelki.html /catalog/zashchelki_i_zadvizhki/
    Redirect 301 /catalog/zavertki-i-nakladki-na-cilindr.html /catalog/zavertki_i_nakladki_na_tsilindr/
    Redirect 301 /faq.html /info/faq/
    Redirect 301 /nashi-brendy.html /info/brands/
    Redirect 301 /nashi-dillery.html /where_to_buy
    Redirect 301 /o-kompanii.html /company/
    Redirect 301 /partner.html /services/partner/
    Redirect 301 /preimuschestva-produkcii.html /services/partner/
    Redirect 301 /vakansii.html /company/vacancy/
    	
			
	# ASPRO_ROBOTS Serve robots.txt with robots.php only if the latter exists
	RewriteCond %{REQUEST_FILENAME} robots.txt
	RewriteCond %{DOCUMENT_ROOT}/robots.php -f
	RewriteRule ^(.*)$ /robots.php [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-l
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !/bitrix/urlrewrite.php$
    RewriteRule ^(.*)$ /bitrix/urlrewrite.php [L]
    RewriteRule .* - [E=REMOTE_USER:%{HTTP:Authorization}]
</IfModule>

<IfModule mod_dir.c>
    DirectoryIndex index.php index.html
</IfModule>

<IfModule mod_expires.c>
    ExpiresActive on
    ExpiresByType image/jpeg "access plus 3 day"
    ExpiresByType image/gif "access plus 3 day"
    ExpiresByType image/png "access plus 3 day"
    ExpiresByType text/css "access plus 3 day"
    ExpiresByType application/javascript "access plus 3 day"
</IfModule>

php_value mbstring.func_overload 2
php_value mbstring.internal_encoding UTF-8
php_value display_errors 1